.form-control{
	height: 45px;
	border-radius: 0%;
}
.btn-danger{
	width: 100%;
	height: 45px;
}
.PostionFixed{
	position: fixed;
	top: 0%;
	right: 0%;
	left: 0%;
	width: 100%;
}
.ButtonBack
{
	position: fixed;
	bottom: 0%;
	left: 0%;
	width: 15%;
	border-radius: 5px;
	display: none;
}
body{
	padding-top: 100px;
	padding-right: 15%;
	padding-left: 15%;
}
.GameID{
	display: none;
}
.image{
	height: 100px;
	width: auto;
	float: left;
}
.center{
	text-align: center;
	background: #d9534f;
	border-radius: 10px;
	color: white;
}
a{
	color: white;
	text-decoration: none;
}
a.fluid-height > img {
	width: 100%;
}
a.fluid-height > img.js-lazy-load-image {
	display: none;
}
a:hover{
	color: white;
	text-decoration: none;
}
figure{
	width: 100% !important;
	border-radius: 25px !important;
}
img{
	padding: 0%;
}
.OneGame{
	background-color: #d9534f;
	border: solid;
	border-radius: 25px;
	border-color: white;
	display: inline-block;
	width: 100%;
	padding: 1.3%;
}

.OneGame>h3{
	margin: 0%;
	text-align: right;
}
